.racing-label-date {
	color: #B5D3D0 !important;
}

.racing-button-panel {
	height: 33.333%;
}

.racing-button {
	height: 100%;
}

.racing-button-icon {
	color: #08234a !important;
}

.racing-label-date {
	font-size: 1.5em;
}

.uk-h4 {
	top: 50px;
}