.section {
	background-color: #08234a;
	width: 100%;
}

#RacingEvents, #News, #Organizers {
	background-color: whitesmoke;

	h1, h2, h3, h4, h5, p {
		color: #08234a !important;
	}
}

#AboutRacing, #Contacts, #Sponsors {
	background-color: #08234a;

	h1, h2, h3, h4, h5, p {
		color: whitesmoke !important;
	}
}
#RacingEvents {

	.racing-label-date {
		color: whitesmoke !important;
	}
}


#AboutRacing {
	background-image: url("../images/t-shirts.jpg");
	width: 100%;
	text-align: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}