$dark-blue: #08234a;
$blue-gray: #B5d3d0;
$whitesmoke: whitesmoke;

$white-gray: #dfdfdf;
$light-gray: #c4cad4;
$medium-gray: rgba(255,255,255,.50);
$dark-gray: rgba(0, 0, 0, .16);
$black-gray: rgba(0, 0, 0, 0.35)