@import "../styles/sizes";

@media screen and (max-width: $s) {
  #sidenav {
    visibility: hidden;
  }
}

#sidenav {
  z-index: 100;
  background-color: #08234A;

  ul {
    min-width: 196px;
  }

  ul li a:hover {
    //background-color: #167184;
    background-color: rgba(0, 0, 0, .16);
  }

  li.uk-active a {
    color: whitesmoke !important;
    //color: rgba(255,255,255,.16) !important;
  }

  li {
    background-color: #08234A;
    height: $ratio;
    overflow: hidden;
    position: relative;
  }

  a {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    //color: whitesmoke !important;
    color: rgba(255,255,255,.50) !important;
    font-size: 2em;
  }

  a span {
    font-family: 'Open Sans', sans-serif !important;
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
    top: $ratio / 2;
    transform: translate(0, -1em);
  }
}

// svetla B5D3D0
// mid 167184
